<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://www.socmedlocal.com:3004/images/app.png" alt="app">
    <img src="https://www.socmedlocal.com:3004/images/break.png" alt="break">
    <img src="https://www.socmedlocal.com:3004/images/infinity.png" alt="infinity">
    <img src="https://www.socmedlocal.com:3004/images/question.png" alt="question">
  </body>
</html>
